.minimize{
    width: 120px;
    height: 30px;
    text-align: center;
    margin: 0 1px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #D7D8DB;

}
.minimize:hover{
    background-color: #fff;
}
 .username{
    width: 80%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeicon{
   display: none;
}
.minimize:hover .closeicon{
    width: 20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crossIcon:hover{
    color:red;
}


