.minimize{
    width: 120px;
    height: 30px;
    background-color:gray;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
 .username{
    width: 80%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeicon{
    width: 20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crossIcon:hover{
    color:red;
}


