.signup {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.signupLeft,
.signupRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupLogo {
  font-size: 40px;
  font-weight: 600;
  color: #FF5A60;
  margin-bottom: 10px;
}

.signupDesc {
  font-size: 24px;
}

.signupBox{
  height: 80%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signupInput{
  height: 12%;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
  padding-left: 20px;
}

.signupInput:focus{
    outline: none;
}
.buttondiv{
  display: flex;
  justify-content:space-between;
  height: 12%;
}
.signupButton{
  height: 100%;
  width: 30%;
  border-radius: 5px;
  border: none;
  background-color: #FF5A60;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


.signupRegisterButton{
    width: 30%;
    align-self: center;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: #FF5A60;
    color: white;
    font-size: 16px;
    cursor: pointer;
    
}