
.message{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.messagetop{
    display: flex;
    align-items: center;
}
.messageimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.messagetext{
    padding:10px;
    border-radius: 5px;
    background-color: #FCDEE0;
    max-width: 380px;
    color: #000;
    margin-bottom: 10px;
}
.message.own{
    align-items: flex-end;
}
.message.own .messagetext{
    background-color: #F1F1F2;
    color: black;
}
.msgBody{
    display: flex;
    flex-direction: column;
}
.inboxImage{
    height: 100px;
    width: 100px;
}