
 .singleuser{
    width: 80%;
    display: flex;
    align-items: center;
    padding:10px;
    margin-top: 20px;
}
.singleuser:hover{
    background-color: rgb(156, 148, 148);
}
.userimage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}
.textspan{
    font-weight: 700;
}