.chatonline{
    margin-bottom: 20px;
    cursor: pointer;
}
.chatonlinefriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.chatimgecontainer{
    position: relative;
    margin-right: 10px;
}
.userimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.onlinebadge{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lightgreen;
    top: 0;
    right: 0;
}